include /public/pug/shared/_header
+header('Про нас', 'ПЕРЕВАГИ ЗАВАНТАЖЕНЬ ЛІНІЇ "2H"')
.about__us-all
    .about__us-items 
        .about__us-item 
            h2 Матеріал
            p Завантаження виготовляються із німецького поліпропілену (РР). Особливістю продукції є метод виготовлення – спаювання, який дозволяє відмовитися від токсичних клеїв. Блоки мають до 20 000 точок з’єднаннь на м3, що гарантує міцність плівки!
        .about__us-item 
            h2 Висока механічна міцність
            p Міцність техніки з’єднання поліпропіленових блоків (навантаження до 30 000 кг/м2) є підтвердженою дослідженнями контрольних лабораторій (TUV). Наші клієнти отримують вироби які при монтажі та під час експлуатації зберігають належну міцність та форму.
        .about__us-item 
            h2 Для градирень
            p Завдяки ефективному зрошувачу можливо досягнути низьких температур технологічної води у градирнях баштового типу. Наш асортимент завантажень для градирень дозволяє знизити витрати енергії та забезпечити меншу потребу в потужності вентиляторів у вентиляторній градирні.
        .about__us-item 
            h2 Стійкість до температур
            p Наші завантаження при стандартному виконанні витримують робочу температуру до 80 ° С без будь-яких деформацій!
        .about__us-item 
            h2 Екологічність 
            p Вироби із поліпропіленової плівки є екологічно чистими, сприяють охороні навколишнього середовища, а також вирізняються стійкістю до УФ випромінювання!
        .about__us-item 
            h2 Безпека
            p Коефіцієнт горючості поліпропіленової плівки рівний 0 та відповідає нормам DIN 4102 B1 і ASTME 84 - 25. Це означає, що поліпропіленова плівка безпечніша ніж матеріал ПВХ.
include /public/pug/shared/_mini-footer