include /public/pug/shared/_header
+header('Про нас', 'ПРО НАС')
.about__us-all
    .about__us-descr 
        p
            | Підприємство 
            strong «Пласт Україна» 
            |займається виробництвом та постачанням готових поліпропіленових блоків, котрі широко використовуються:
        ul
            li в станціях очистки стічних вод та біофільтрах;
            li нафто-жиро сепараторах;
            li в рибному господарстві, аерації водойм;
            li охолодження приміщень птиці ферм,складів, свинарників, зволоженні повітря;
            li в очистці води від нафтопродуктів на мийках та АЗС;
            li від органічних забруднень, нітратів/нітритів;
            li в дренажних і ретенційних резервуарах;
            li в вентиляторних і баштових градирнях; для зниження температури охолоджувальної води;
            li форсунок для градирень.
        p 
            | Вироби фірми 
            strong «Пласт Україна» 
            |є екологічно чистими та сприяють охороні навколишнього середовища. Особливістю нашої продукції є:
        p
            p.list 
                | — Розвинений у виробничому процесі фірмою 
                strong «2Н» 
                | метод зварювання дозволяє 
                em повністю відмовитись від токсичних клеїв; 
            p.list 
                | — Кожен тип поліпропіленових блоків має до 20 000 точок зварювання на м3, що гарантує міцне з'єднання плівки, причому 
                em абсолютно без розчинників;
            p.list
                | — Відрізняється 
                em стійкістю 
                | до шкідливого ультрафіолетового впливу;
            p.list
                | — Після тривалого використання поліпропіленові блоки можна промивати, причому вони 
                em будуть зберігати належну міцність і форму.
        
        p При замовленні продукції, яка вже є в наявності на складі підприємства, замовник отримує її протягом 7 днів, у разі якщо продукцію необхідно дозамовляти — протягом 30 календарних днів.
        p Наше підприємство має сертифікати якості ISO 9001: 2000 / EN ISO 9001: 2000.
        p За Вашим бажанням ми додатково можемо відправити Вам наші рекламні проспекти з продукцією, з яких Ви дізнаєтеся більше інформації про параметри і види завантажень із зварного поліпропілену
        p Будемо раді нашому подальшому налагодженому співробітництву.
        .about__us-blocks 
            h3 Інформація про компанію
            .about__us-blocks--descr 
                h4 Назва:
                p ПП Пласт Україна
            .about__us-blocks--descr 
                h4 Тип компанії:
                p Виробник, Торгова компанія, Представництво
            .about__us-blocks--descr 
                h4 Бренди:
                p 2Н
        .about__us-blocks 
            h3 Організаційно-правова форма та капітал
            .about__us-blocks--descr 
                h4 Рік заснування:
                p 2006
            .about__us-blocks--descr 
                h4 Організаційно-правова форма:
                p Приватне підприємство
        .about__us-blocks 
            h3 Інформація про виробництво
            .about__us-blocks--descr 
                h4 Місцезнаходження виробництва:
                p Німеччина
            .about__us-blocks--descr 
                h4 Контроль якості:
                p Зовнішній
            .about__us-blocks--descr 
                h4 Сертифікати відповідності:
                p ISO 9000/9001/9004/19011: 2000
    h2 ПЕРЕВАГИ ЗАВАНТАЖЕНЬ ЛІНІЇ "2H"
    .about__us-items 
        .about__us-item.var1
            h2 Матеріал
            p Завантаження виготовляються із німецького поліпропілену (РР). Особливістю продукції є метод виготовлення – спаювання, який дозволяє відмовитися від токсичних клеїв. Блоки мають до 20 000 точок з’єднаннь на м3, що гарантує міцність плівки!
        .about__us-item.var2
            h2 Висока механічна міцність
            p Міцність техніки з’єднання поліпропіленових блоків (навантаження до 30 000 кг/м2) є підтвердженою дослідженнями контрольних лабораторій (TUV). Наші клієнти отримують вироби які при монтажі та під час експлуатації зберігають належну міцність та форму.
        .about__us-item.var3 
            h2 Для градирень
            p Завдяки ефективному зрошувачу можливо досягнути низьких температур технологічної води у градирнях баштового типу. Наш асортимент завантажень для градирень дозволяє знизити витрати енергії та забезпечити меншу потребу в потужності вентиляторів у вентиляторній градирні.
        .about__us-item.var4
            h2 Стійкість до температур
            p Наші завантаження при стандартному виконанні витримують робочу температуру до 80 ° С без будь-яких деформацій!
        .about__us-item.var5 
            h2 Екологічність 
            p Вироби із поліпропіленової плівки є екологічно чистими, сприяють охороні навколишнього середовища, а також вирізняються стійкістю до УФ випромінювання!
        .about__us-item.var6 
            h2 Безпека
            p Коефіцієнт горючості поліпропіленової плівки рівний 0 та відповідає нормам DIN 4102 B1 і ASTME 84 - 25. Це означає, що поліпропіленова плівка безпечніша ніж матеріал ПВХ.
include /public/pug/shared/_mini-footer