include /public/pug/shared/_header
+header('Зрошувач 2H FKP', 'ЗРОШУВАЧ 2H FKP')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/industrial-water-cooling/1.png',
    'Зрошувач 2H FKP – високоякісний блочний зрошувач з перехресними каналами зі спаяної поліпропіленової (РР) плівки')
    ul
        p Властивості:
        li найвищий термічний коефіцієнт корисної дії;
        li стійкий до високих температур;
        li висока механічна міцність;
        li висока стійкість до хімічних впливів та УФ променів;
        li висока робоча надійність;
        li сприятливий до навколишнього середовища;
        li легко піддається очищенню.
    p
        br
        | Зрошувач 2H FKP забезпечує найвищу ефективність системи охолодження технологічної води у випарних градирнях із гравітаційною та вентиляційною циркуляцією. 
    table.table
            tbody
            tr
                td.title Технічні дані
                td.title FKP-312
                td.title FKP-319
                td.title FKP-327 
            tr
                td
            tr.violet
                td Матеріал
                td поліпропилен (PP)
                td поліпропилен (PP)
                td поліпропилен (PP)
            tr.orange
                td Поверхня заміни
                td 240 м2/м3
                td 150 м2/м3
                td 125 м2/м3
            tr.violet
                td Висота профілю
                td 12 мм
                td 19 мм
                td 27 мм
            tr.orange
                td Вільний об’єм
                td 97 %
                td 97 %
                td 97 %
            tr.violet
                td  Доступні розміри:
                    br 
                    |Довжина
                    br 
                    |Ширина
                    br 
                    |Висота
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
            tr.orange
                td Щільність, г/см3
                td 1,05
                td 1,05
                td 1,05
            tr.violet 
                td Діапазон температур:
                td від -15 °С до +80 °С
                td від -15 °С до +80 °С
                td від -15 °С до +80 °С
    p
        br
        | Застосовується також у: газових очисних установках, в установках дегазації глибинних вод, в установках зволоження повітря, установках для підготовки і очищення технологічної і питної води.
include /public/pug/shared/_mini-footer
