include /public/pug/shared/_header
+header('Краплевловлювач ТЕР-130', 'КРАПЛЕВЛОВЛЮВАЧ ТЕР-130')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/industrial-water-cooling/4.jpg',
    'Жоден інший краплевловлювач не зрівняється з краплевловлювачем ТЕР 130 таким високим рівнем ефективності сепарації та мінімальним перепадом тиску')
    ul
        p Властивості:
        li мінімальний перепад тиску;
        li висока ефективність сепарації;
        li стійкість до високих температур та УФ променів;
        li висока механічна міцність;
        li виготовлений з екологічно чистого матеріалу.
    table.table
            tbody
            tr
                td.title(colspan="2") Технічні дані ТЕР-130
            tr
                td
            tr
                td.orange Матеріал
                td.violet поліпропилен (PP)
            tr
                td.violet Питома поверхня
                            br
                            |∅ = S/V, м2/м3
                td.orange 249,25
            tr
                td.orange Питома поверхня
                            br
                            | S/A = ∅ “ hel, м2/м3
                td.violet 32,4
            tr
                td.violet Поверхня контакту
                            br
                            | на 1 м2
                td.orange 32,4 м2
            tr
                td.orange Максимальна швидкість
                            br
                            | повітря
                td.violet 4,5 м/с
            tr
                td.violet Доступні розміри:
                            br 
                            |Довжина
                            br 
                            |Ширина
                            br 
                            |Висота
                td.orange
                            br
                            |2400 мм
                            br
                            |300 / 600 мм
                            br    
                            |300 / 600 мм
            tr
                td.orange Вага
                td.violet 6 кг/м2
            tr
                td.violet Температура експлуатації
                td.orange -10 / +80 °С
    p
        | Характеризується низьким падінням тиску та високим гідравлічним навантаженням. За допомогою цього завантаження також можна зменшувати вміст дрібнодисперсних аерозолів у випарних газах і в технологічних потоках.
include /public/pug/shared/_mini-footer