include /public/pug/shared/_header
+header('Поліпропіленовий краплевловлювач ТAР-155', 'ПОЛІПРОПЕЛЕНОВИЙ КРАПЛЕВЛОВЛЮВАЧ ТAР-155')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/industrial-water-cooling/5.png',
    'Знижує витрати енергії в вентиляторних градирнях. Низький опір повітря, що протікає через блок краплевловлювача забезпечує меншу потребу в потужності вентиляторів')
    ul
        p Властивості:
        li поліпропілен сприятливий для навколишнього середовища;
        li мінімальне падіння тиску;
        li висока ефективність сепарації;
        li стійкість до високих температур і до УФ променів;
        li висока механічна міцність.
    table.table
            tbody
            tr
                td.title(colspan="2") Технічні дані ТАР-155
            tr
                td
            tr
                td.orange Матеріал
                td.violet поліпропилен (PP)
            tr
                td.violet Довжина профілю
                td.orange 400 – 6000 мм
            tr
                td.orange Висота профілю
                td.violet 155 мм
            tr
                td.violet Товщина плівки
                td.orange ≈ 1,3 мм
            tr
                td.orange Вогнестійкість
                td.violet ASTM E84 FSI ˂25
            tr
                td.violet Максимальна температура
                            br
                            | експлуатації (короткочасно)
                td.orange +55 °С 
            tr
                td.orange Максимальна температура
                            br
                            | експлуатації (довгостроково)
                td.violet -20 / +55 °C
            tr
                td.violet Максимальна швидкість
                            br
                            | плину
                td.orange 4,0 м/с
            tr
                td.orange Втрати тиску
                td.violet 0,001%
            tr
                td.title(colspan="2") Механічне з’єднання
                                                br
                                                | TAS 485
            tr
                td.orange Матеріал
                td.violet поліпропилен (PP)
            tr
                td.violet Доступні розміри:
                            br 
                            |Довжина
                            br 
                            |Ширина
                            br 
                            |Висота
                td.orange 
                            br
                            | 485 мм
                            br
                            | 158 мм
                            br    
                            | 19 мм
            tr
                td.orange Відстань
                td.violet 38 мм
            tr
                td.violet Вага
                td.orange 0,148 кг
            tr
                td.orange Колір
                td.violet чорний
            tr
                td.violet Кількість профілів
                td.orange 12
include /public/pug/shared/_mini-footer