include /public/pug/shared/_header
+header('Зрошувальні форсунки 2H SPN', 'ЗРОШУВАЛЬНІ ФОРСУНКИ 2H SPN')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/industrial-water-cooling/7.jpg',
    'Розподіл води має велике значення для продуктивності роботи градирні. Тому ми впровадили у виробництво новий тип сопел у формі конусів. Форсунки призначаються для вертикальної експлуатації, тому рідина з високою точністю розділяється на краплі')
    ul
        p Властивості:
        li легкий монтаж;
        li висока стійкість до хімічних речовин завдяки зміцненню нейлоном;
        li самоочищення завдяки турбуленції в корпусі;
        li оптимальний розподіл води (однакове навантаження);
        li гладка поверхня – відсутність з’єднань;
        li не вимагають догляду;
        li відсутність рухомих елементів / змінних деталей;
        li максимальна робоча температура до 80 ° C / 175 ° F;
        li максимальний кут виходу 120 °;
        li тривалість використання і висока стабільність.
    table.table
            tbody
            tr
                td.title
                td.title
                    img(src="/src/assets/img_categories/industrial-water-cooling/yellow.png", alt="yellow")
                td.title
                    img(src="/src/assets/img_categories/industrial-water-cooling/blue.png", alt="blue")
                td.title
                    img(src="/src/assets/img_categories/industrial-water-cooling/red.png", alt="red")
            tr.title 
                td Тип
                td SPN 1.5
                td SPN 2.0
                td SPN 2.5
            tr.violet
                td Матеріал
                td поліамід 
                    br
                    | зміцнений нейлоном
                td поліамід 
                    br
                    | зміцнений нейлоном
                td поліамід 
                    br
                    | зміцнений нейлоном
            tr.orange
                td Гвинт ISO 228/1 (cable)
                td 1 1/2
                td 2
                td 2 1/2
            tr.violet
                td Висота гвинту 
                td 17,5 мм
                td 19 мм
                td 28 мм
            tr.orange
                td Загальна висота
                td 48 мм
                td 60 мм
                td 75 мм
            tr.violet
                td Роз’єм ключа
                td 50 мм
                td 65 мм
                td 80 мм
            tr.orange
                td Кут розпилу
                td 120 “
                td 120 “
                td 120 “
            tr.violet
                td Діапазон тиску
                td 0,2-2,0 bar
                td 0,2-2,0 bar
                td 0,2-2,0 bar
            tr.orange
                td Постійна температура
                td +60 °С
                td +60 °С
                td +60 °С
            tr.violet
                td Максимальна 
                    br
                    | робоча температура
                td +80 °С
                td +80 °С
                td +80 °С
include /public/pug/shared/_mini-footer