footer.main-footer
    .container
        .main-footer__all-info
            .main-footer__top-block
                // <img href="#" src="../src/assets/img_footer/logowhite.png" class="logo" alt="logo">
                .info-all
                    img.logo(href='#' src='../src/assets/img_footer/logowhite.png' alt='logo')
                    .info
                        .mail
                            img.mail-logo(src='../src/assets/mail.png' alt='logo')
                            .mail-info
                                .mail-title Email:
                                .mail-adress 2hplast@gmail.com
                        .phone
                            img.phone-logo(src='../src/assets/phone.png' alt='logo')
                            .phone-info
                                .phone-title Наші Телефони:
                                .phone-number +38 (097) 449 98 61
                                .phone-number +38 (095) 449 98 61
                        .location
                            img.location-logo(src='../src/assets/img_footer/locationf.png' alt='logo')
                            .location-info
                                .location-title Знаходимось тут:
                                .location-adress м.Львів
                                .location-street вул. Самбірська 69
            .rectangle-top
            .main-footer__bottom-block
                .main-footer__bottom-block--all
                    .main-footer__left-block
                        h3.main-footer__text
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab
                            | in temporibus ullam optio
                            | accusamus quo neque accusantium omnis molestias reiciendis.
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab
                            | in temporibus ullam optio
                            | accusamus quo neque accusantium omnis molestias reiciendis
                        .main-footer__social
                            a.instagram(href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer')
                                img.instagram-img(src='../src/assets/img_footer/instagramf.png' alt='instagram')
                            a.facebook(href='https://www.facebook.com/' target='_blank' rel='noopener noreferrer')
                                img.facebook-img(src='../src/assets/img_footer/facebookf.png' alt='facebook')
                            a.twitter(href='https://twitter.com/' target='_blank' rel='noopener noreferrer')
                                img.twitter-img(src='../src/assets/img_footer/twitterf.png' alt='twitter')
                            a.pinterest(href='https://www.pinterest.com/' target='_blank' rel='noopener noreferrer')
                                img.pinterest-img(src='../src/assets/img_footer/pinterestf.png' alt='pinterest')
                    // <div class="rectangle-left"></div>
                    wrapper.main-footer__shared-bloc
                        wrapper.main-footer__links-bloc
                            .main-footer__classification-links
                                h3 Explore
                                ul.main-footer__links
                                    li.main-footer__link
                                        a(href='#') About Us
                                    li.main-footer__link
                                        a(href='#') Pricing
                                    li.main-footer__link
                                        a(href='#') Team
                                    li.main-footer__link
                                        a(href='#') Blog
                                    li.main-footer__link
                                        a(href='#') Contact Us
                            .main-footer__classification-links
                                h3 Quick Links
                                ul.main-footer__links
                                    li.main-footer__link
                                        a(href='#') About Us
                                    li.main-footer__link
                                        a(href='#') Pricing
                                    li.main-footer__link
                                        a(href='#') Team
                                    li.main-footer__link
                                        a(href='#') Blog
                                    li.main-footer__link
                                        a(href='#') Contact Us
                            .main-footer__classification-links
                                h3 Utility Pages
                                ul.main-footer__links
                                    li.main-footer__link
                                        a(href='#') About Us
                                    li.main-footer__link
                                        a(href='#') Pricing
                                    li.main-footer__link
                                        a(href='#') Team
                                    li.main-footer__link
                                        a(href='#') Blog
                                    li.main-footer__link
                                        a(href='#') Contact Us
                .rectangle-bottom
