footer.main-footer
  .container
    .main-footer__all-info
      .main-footer__top-block
        .info-all
          img.logo(href='#' src='../src/assets/img_footer/logowhite.png' alt='logo')
          .info
            .mail
              a(href='mailto:2hplast@gmail.com')
                img.mail-logo(src='../src/assets/mail.png' alt='logo')
              .mail-info
                .mail-title Email:
                .mail-adress 2hplast@gmail.com
            .phone
              a(href='tel:+380974499681')
                img.phone-logo(src='../src/assets/phone.png' alt='logo')
              .phone-info
                .phone-title Наші Телефони:
                .phone-number +38 (097) 449 96 81
                .phone-number +38 (095) 449 96 81
            .location
              a(href='https://goo.gl/maps/joJ9TARrQzcCScvX6')
                img.location-logo(src='../src/assets/img_footer/locationf.png' alt='logo')
              .location-info
                .location-title Знаходимось тут:
                .location-adress м. Самбір
                .location-street вул. Ярослава Мудрого, 18
        .rectangle-top
      .main-footer__bottom-block
        .main-footer__bottom-block--all
          .main-footer__left-block
            h3.main-footer__text "Вироби із поліпропіленової плівки є екологічно чистими, сприяють охороні навколишнього середовища, а також вирізняються стійкістю до УФ випромінювання! Наші завантаження при стандартному виконанні витримують робочу температуру до 80 ° С без будь-яких деформацій!"
            .main-footer__social
              .instagram
                a(href="https://t.me/+380974499681" target="_blank" rel="noopener noreferrer")
                  img.instagram-img(src="../src/assets/img_footer/telegram.png" alt="telegram")
              .facebook
                a(href="viber://chat?number=%2B380974499681/" target="_blank" rel="noopener noreferrer")
                  img.facebook-img(src="../src/assets/img_footer/viber.png" alt="viber")
              .twitter
                a(href="https://wa.me/+380974499681" target="_blank" rel="noopener noreferrer")
                  img.instagram-img(src="../src/assets/img_footer/whatsapp.png" alt="whatsapp")
          .main-footer__shared-bloc
            .main-footer__links-bloc
              .main-footer__classification-links
                h3 Mеню
                ul.main-footer__links
                  li.main-footer__link
                    a(href="./index.html") Головна
                  li.main-footer__link
                    a(href="./aboutUs.html") Про нас
                  li.main-footer__link
                    a(href="./assortment.html") Категорії товару
                  li.main-footer__link
                    a(href="./contactsPage.html") Наші контакти
              .main-footer__classification-links
                h3 Категорії товару
                ul.main-footer__links
                  li.main-footer__link
                    a(href="./industrWaterCooling.html") Промислове водяне охолодження
                  li.main-footer__link
                    a(href="./dSystems.html") Дренажні системи та Рибне господарство
                  li.main-footer__link
                    a(href="./waterPurification.html") Очищення та обробка води
        .rectangle-bottom  

