footer.main-footer
  .container
    .main-footer__all-info
      .main-footer__top-block
        .info-all
          img.logo(href='#' src='../src/assets/img_footer/logowhite.png' alt='logo')
          .info
            .mail
              a(href='mailto:2hplast@gmail.com')
                img.mail-logo(src='../src/assets/mail.png' alt='logo')
              .mail-info
                .mail-title Email:
                .mail-adress 2hplast@gmail.com
            .phone
              a(href='tel:+380974499681')
                img.phone-logo(src='../src/assets/phone.png' alt='logo')
              .phone-info
                .phone-title Наші Телефони:
                .phone-number +38 (097) 449 96 81
                .phone-number +38 (095) 449 96 81
            .location
              a(href='https://goo.gl/maps/joJ9TARrQzcCScvX6')
                img.location-logo(src='../src/assets/img_footer/locationf.png' alt='logo')
              .location-info
                .location-title Знаходимось тут:
                .location-adress м. Самбір
                .location-street вул. Ярослава Мудрого, 18
