mixin description(img, miniDescr) 
    .wrapper
        .container__descr
            .img_descr
                img(src= img alt='img')
                .mini-descr= miniDescr
            .description 
                block 