extends Views/layout/default

include Views/mixins/_cards-descr

//- define variables used in default layout
block variables
  - var mainTitle = 'Сітчастий зрошувач 2H NET-150'
  - var title = 'СІТЧАСТИЙ ЗРОШУВАЧ 2H NET-150'

//- add page styles
append style
    link(href=require('Styles/categories/cards-descr.scss') rel='stylesheet')

//- add page scripts
append script
    script(src=require('Components/categories/cards-descr.js') defer)

block content
    - var image = require('Images/img_categories/industrial-water-cooling/3.png')

    +description(image, 'Поліпропіленовий зрошувач 2H NET – високоякісний сітчастий зрошувач, який завдяки своїй будові забезпечує оптимальний 3-мірний потік')
        p
            | У біологічних роторах (приблизно до 5000 РЕ) 2Н NET-150 гарантує хорошу аерацію осілої біомаси. 2Н  NET  150 характеризується низькими падіннями тиску і високим гідравлічним навантаженням. За допомогою цього завантаження можна також зменшувати вміст дрібнодисперсних аерозолів у вихлопних газах і технологічних потоках.
        ul
            p Властивості:
            li оптимальний 3-мірний потік через зрошувач;
            li висока стабільність процесу і надійний захист від закупорки;
            li можливість зборки блока безпосередньо на місці установки;
            li мала питома вага на одиницю об’єму;
            li використання екологічно чистого поліпропілену;
            li стійкість до впливу хімічних речовин і високих температур;
            li довгий термін експлуатації зрошувача.
        table.table
                tbody
                tr
                    td.title(colspan="2") Технічні дані 2H NET-150
                tr
                    td
                tr
                    td.orange Матеріал
                    td.violet поліпропилен (PP)
                tr
                    td.violet Питома поверхня
                    td.orange 150 м2/м3
                tr
                    td.orange Поверхня заміни
                    td.violet 125 м2/м3
                tr
                    td.violet Вільний об’єм
                    td.orange 97%
                tr
                    td.orange Щільність, г/см3
                    td.violet 1,05
                tr
                    td.violet Доступні розміри:
                                br
                                |Довжина
                                br
                                |Ширина
                                br
                                |Висота
                    td.orange
                                br
                                |2400 мм
                                br
                                |300 / 600 мм
                                br
                                |300 / 600 мм
                tr
                    td.orange Максимальна робоча температура
                    td.violet +80 °С
        p
            | Характеризується низьким падінням тиску та високим гідравлічним навантаженням. За допомогою цього завантаження також можна зменшувати вміст дрібнодисперсних аерозолів у випарних газах і в технологічних потоках.