include /public/pug/shared/_header
+header('Дренажні блоки GEOdek/WBOX', 'ДРЕНАЖНІ БЛОКИ GEOdek/WBOX')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/drainage-systems/1.png',
    '2Н WBOX – це поліпропіленові завантаження для ретенційних і дренажних резервуарів.')
    p
        | Поліпропіленові завантаження 2Н W-BOX для ретенційних і дренажних
        | резервуарів є альтернативою канальній системі у випадку, коли
        | неможлива її модернізація або розширення. Завдяки резервуарам 2Н W-BOX
        | можлива децентралізація затримки води і насичення нею ґрунту. 2Н WBOX
        | складається з легких і надзвичайно міцних структур, завдяки яким
        | можлива будь-яка укладка в землі (принцип агрегатної конструкції).
        br
        br
        | Блоки 2Н WBOX виготовлені із екологічно чистого первинного матеріалу –
        |           поліпропілену (РР), на якому осідає біомаса – основа біологічної
        |           очистки стічних вод, завдяки чому відбувається доочистка води після її
        |           виходу з очисної споруди.
        p
            span.italic Застосування:
            | житлові місцевості, промислові ділянки, території паркінгів та ін.
        ul
            p
                span.italic Переваги
                |  поліпропіленових завантажень 2Н WBOX:
            li висока механічна міцність;
            li доочистка стічних вод;
            li нескладний і швидкий монтаж;
            li засмічення дренажних отворів піском виключено;
            li стійкий до диференційних навантажень (три типи блоків).
        ul
            p
                span.italic Можливі навантаження:
            li Тип «L» – витримує тиск вантажного автомобіля;
            li Тип «P» – витримує тиск легкового автомобіля;
            li Тип «G» – витримує тиск ходьби (для монтажу в саду).
        p
        | У той час, коли гравійне завантаження приймає 150-300 л резервуара на 1 м3 гравію, поліпропіленові блоки WBOX з дренажними отворами приймають ≈ 950 л води на 1 м3.
    table.table
            tbody
            tr
                td.title.orange(colspan="2") Технічні дані 2H WBOX
            tr
                td
            tr
                td.orange Матеріал
                td.violet поліпропилен (PP)
            tr
                td.violet Стандартний розмір
                td.orange 2400/300/600 мм
            tr
                td.orange Об’єм
                td.violet 470 л
            tr
                td.violet Вільний об’єм
                td.orange 96 %
            tr
                td.orange Глибина монтажу
                td.violet 1 – 2 м
include /public/pug/shared/_mini-footer
