include /public/pug/shared/_header
+header('Вільноплаваюче поліпропіленове завантаження BCN', 'ВІЛЬНОПЛАВАЮЧЕ ПОЛІПРОПЕЛЕНОВЕ ЗАВАНТАЖЕННЯ BCN')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/water-purification-and-treatment/4.png',
    'Вільноплаваюче завантаження із зовнішнім активним шаром є ефективним способом очищення води від аміаку, амонію і нітритів (процеси нітрифікації / денітрифікації)')
    p
        | В кожному акваріумі є станції біологічного очищення аквакультури, завдяки яким продукти екскреції риб не накопичуються в басейні і не забруднюють водойму.
        br
        br
        | Біофільтри із вільноплаваючим активним слоєм особливо рекомендується застосовувати у процесах нітрифікації та денітрифікації. В ході цього процесу повинен відбуватися інтенсивний рух вільноплаваючого завантаження у воді так, щоб надлишки шламу розчинялись і не заблоковували отвори завантаження.
        br
        br
        | Рух BCN створюється шляхом подачі кисню в біофільтр. Перевагою вільноплаваючого завантаження є велика поверхня заміни величиною від 95 до 885 м²/м³. Вони затримують біомасу і збільшують її концентрацію. Завдяки правильному вибору вільноплаваючого завантаження BCN з точки зору його структури, поверхні заміни, ваги і щільності – досягається досить високий рівень очищення та збереження затрат електроенергії на аерацію.
    table.table
            tbody
            tr
                td.title(colspan="6") Технічні дані
            tr
                td
            tr.title 
                td Тип
                //- td Розріз
                td Поверхня 
                   br
                   |заміни
                   br
                   |м2/м3
                td Захищена
                   br  
                   | поверхня
                   br 
                   | м2/м3
                td Вага
                   br
                   | кг/м3
                td Матеріал
                td Одиниця
                   br 
                   | виміру
            tr.violet
                td BCN 007
                td 884
                td 484
                td ≈ 160
                td HDPE
                td м3
            tr.orange
                td BCN 009
                td 836
                td 494
                td ≈ 165
                td HDPE
                td м3
            tr.violet
                td BCN 012 KLL
                td 859
                td 704
                td ≈ 150
                td HDPE
                td м3
            tr.orange
                td BCN 014 KLL
                td 767
                td 644
                td ≈ 151
                td HDPE
                td м3
            tr.violet
                td BCN 017 KLL
                td 602
                td 264
                td ≈ 125
                td HDPE
                td м3
            tr.orange
                td BCN 030
                td 320
                td 269
                td ≈ 110
                td HDPE
                td м3
            tr.violet
                td BCN 036
                td 236
                td 187
                td ≈ 55
                td HDPE
                td м3
            tr.orange
                td BCN 038K
                td 195
                td 149
                td ≈ 54
                td HDPE
                td м3
            tr.violet
                td BCN 050
                td 148
                td 125
                td ≈ 51
                td HDPE
                td м3
            tr.orange
                td BCN 065K
                td 96
                td 78
                td ≈ 43
                td HDPE
                td м3
include /public/pug/shared/_mini-footer
