extends Views/layout/default

include Views/mixins/_cards-descr

//- define variables used in default layout
block variables
  - var mainTitle = 'Завантаження 2H KVP-623 з вертикальними водостоками'
  - var title = 'ЗАВАНТАЖЕННЯ 2H KVP-623 З ВЕРТИКАЛЬНИМИ ВОДОСТОКАМИ'

//- add page styles
append style
    link(href=require('Styles/categories/cards-descr.scss') rel='stylesheet')

//- add page scripts
append script
    script(src=require('Components/categories/cards-descr.js') defer)

block content
    - var image = require('Images/img_categories/water-purification-and-treatment/2.png')

    +description(image, 'Завантаження з вертикальною структурою каналів відзначається надзвичайною міцністю. Вертикальні канали дозволяють зменшити відкладення на поверхні блока')
        p
            br
            | Характерною ознакою вертикального водостоку є очистка висококонцентрованої парової фази і промислових стічних вод (наприклад у целюлозно-паперовій промисловості). Детальна зборка блока дозволяє зробити прямоканальний водостік по всій висоті блока. Таким чином, забезпечується можливість огляду і очищення всього модуля відразу.
        ul
            p Властивості:
            li прямоточний канал (блоки характеризуються високою стійкістю при можливій висоті до 9 м, а також надійним захистом від закупорки);
            li виготовлений із екологічно чистого матеріалу;
            li стійкий до хімічного впливу та УФ променів.
        table.table
                tbody
                tr
                    td.title(colspan="2") Технічні дані KVP-623
                tr
                    td
                tr.violet
                    td Матеріал
                    td поліпропилен (PP)
                tr.orange
                    td Поверхня заміни
                    td 125 м2/м3
                tr.violet
                    td Висота профілю
                    td 23 мм
                tr.orange
                    td Вільний об’єм
                    td 95 %
                tr.violet
                    td  Доступні розміри:
                        br
                        |Довжина
                        br
                        |Ширина
                        br
                        |Висота
                    td
                        br
                        |2400 мм
                        br
                        |300 / 600 мм
                        br
                        |300 / 600 мм
                tr.orange
                    td Діаметр водостоку
                    td 45 мм
                tr.violet
                    td Максимальна
                        br
                        | робоча температура
                    td +80 °С
        p
            br
            | Застосовується у реакторах з нерухомим слоєм високої концентрації (у зануреному вигляді і в зрошувальних біофільтрах), для очистки відпрацьованих газів двигуна в біологічних нейтралізаторах, для природних реакторів і пластин відділення осаду під час очистки стічних вод.