extends Views/layout/default

include Views/mixins/_cards-descr

//- define variables used in default layout
block variables
  - var mainTitle = 'Коалісцентний фільтр 2Н FAР'
  - var title = 'КОАЛІСЦЕНТНИЙ ФІЛЬТР 2Н FAР'

//- add page styles
append style
    link(href=require('Styles/categories/cards-descr.scss') rel='stylesheet')

//- add page scripts
append script
    script(src=require('Components/categories/cards-descr.js') defer)

block content
    - var image = require('Images/img_categories/water-purification-and-treatment/5.png')

    +description(image, 'Завантаження для сепараторів та коалісцентних фільтрів для сепарації жирів 2H FAP має універсальну структуру каналів із спеціальною поверхнею завдяки якій емульсії, масла і жири відділяються з високою ефективністю')
        ul
            p Властивості:
            li покращує ефект сепарації;
            li підвищує ефективність коагуляції;
            li стійкий до механічних пошкоджень;
            li стійкий до хімічного впливу та УФ променів;
            li легко піддається очищенню.
        p
            | Найчастіше поліпропіленові завантаження 2H FAP застосовуються таких процесах: очистки від нафтопродуктів (очистка масл, а також мінеральних, тваринних та рослинних жирів), очистки стічних вод, очистки дощових вод, кінцевій седиментації дрібних частин.
        table.table
                tbody
                tr
                    td.title Технічні дані
                    td.title FAP-312
                    td.title FAP-319
                    td.title FAP-327
                tr
                    td
                tr.violet
                    td Матеріал
                    td поліпропилен (PP)
                    td поліпропилен (PP)
                    td поліпропилен (PP)
                tr.orange
                    td Висота профілю
                    td 12 мм
                    td 19 мм
                    td 27 мм
                tr.violet
                    td Вільний об’єм
                    td 97 %
                    td 97 %
                    td 97 %
                tr.orange
                    td  Доступні розміри:
                        br
                        |Довжина
                        br
                        |Ширина
                        br
                        |Висота
                    td
                        br
                        |2400 мм
                        br
                        |300 / 600 мм
                        br
                        |300 / 600 мм
                    td
                        br
                        |2400 мм
                        br
                        |300 / 600 мм
                        br
                        |300 / 600 мм
                    td
                        br
                        |2400 мм
                        br
                        |300 / 600 мм
                        br
                        |300 / 600 мм
                tr.violet
                    td Діапазон температур:
                    td від -15 °С до +80 °С
                    td від -15 °С до +80 °С
                    td від -15 °С до +80 °С
                tr.orange
                    td.hide_mobile Застосування:
                    td.show-mobile Застосу-
                        br
                        |вання:
                    td остаточна седиментація
                        br
                        |дрібного, довго
                        br
                        |осідаючого осаду;
                        br
                        br
                        |очищення дощової
                        br
                        |води від вуглеводів.
                    td.hide_mobile очищення стічних вод
                        br
                        |нафтопереробної промисловості
                        br
                        | (видалення масл);
                        br
                        br
                        |очищення промислових і
                        br
                        |комунальних стічних вод;
                        br
                        br
                        |очищення від масл і
                        br
                        |жирів (мінеральних,
                        br
                        |рослинних і тваринних);
                        br
                        br
                        |очищення дощової води
                        br
                        |від вуглеводів;
                        br
                        br
                        |мокрі газоочисники
                        br
                        |і дезодоратори.
                    td.show-mobile очищення стічних вод
                        br
                        |нафто-
                        br
                        |переробної промисловості
                        br
                        | (видалення масл);
                        br
                        br
                        |очищення промислових і
                        br
                        |комунальних стічних вод;
                        br
                        br
                        |очищення від масл і
                        br
                        |жирів (мінеральних,
                        br
                        |рослинних і тваринних);
                        br
                        br
                        |очищення дощової води
                        br
                        |від вуглеводів;
                        br
                        br
                        |мокрі газоочисники
                        br
                        |і дезодоратори.
                    td мокрі газоочисники
                        br
                        |і дезодоратори.
                        br
                        br
                        |очищення промислових і
                        br
                        |комунальних стічних вод;