.promotion__timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  .title {
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .timer {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .timer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #fff;
    color: #1C2752;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    opacity: 0.9;
  }

  .timer__block span {
    color: #FFB342;
    font-size: 30px;
    font-weight: 700;
  }
}