@use "Styles/main";
@use "Styles/header";
@use "Styles/footer";
@use "Styles/burger-menu";
@use "Styles/categories-cards-pages";

.about__us-all {
    margin-top: -10px;
    background: #f2f2f2;

    .about__us-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;

        .about__us-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            // background: white;
            background: center / cover no-repeat url('../../src/assets/img_categories/img/backgr_1.jpg');

            width: 30%;
            min-width: 300px;
            height: 450px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            margin: 20px;
            transition: 0.3s ease-in;

            &:hover {
              transform: translateY(-10px);
            }

            h2 {
                background: rgba(0,0,0,0.5);
                width: 70%;
                min-width: 270px;
                font-size: 24px;
                font-weight: bold;
                margin: 0;
                padding: 20px 0;
                color: #ffb342;
            }

            p {
                background: rgba(0,0,0,0.5);
                width: 70%;
                min-width: 270px;
                margin: 0;
                padding: 20px 0;
                font-size: 18px;
                font-weight: bold;
                color: white;
            }
        }
    }
}