@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.about__us-all {
  margin-top: -10px;
  padding: 20px;
  background: #f2f2f2;

  .about__us-descr {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
      
  
    ul {
      margin: 20px auto;
      width: 50%;
      text-align: center;
  
      @include media-max-width(450px) {
        width: 90%;
        padding: 0 0 0 40px;
        margin: 20px 0 20px 10px;
      }
  
      li {
        text-align: start;
        margin: 5px 0;
      }
    }
  
    .list {
      width: 80%;
      margin: 0 auto;
    }

    .about__us-blocks {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      h3 {
        color: #00a0e3;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .about__us-blocks--descr {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 10px 0;

        @include media-max-width(850px) {
          flex-direction: column;
          align-items: flex-start;
        }

        h4 {
          color: #00a0e3;
          font-size:18px;
          font-weight: bold;
          width: 330px;

          @include media-max-width(850px) {
            width: auto;
            padding: 5px 10px;
          }
        }

        p {
          margin: 0;

          @include media-max-width(850px) {
            padding: 5px 10px;
        }
        }
      }
    }
  }

  h2 {
    align-items: center;
    color: #00a0e3;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    justify-content: center;
    margin: 30px auto 0;
    padding: 30px 30px 0;
    text-align: center;
    width: 70%;
  }

  .about__us-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;

    .about__us-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 30%;
      min-width: 300px;
      height: 450px;
      margin: 20px;
      transition: 0.3s ease-in;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.49);

      &:hover {
        transform: translateY(-10px);
      }

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 75px;
        min-width: 270px;
        font-size: 24px;
        font-weight: 900;
        margin: 0;
        padding: 10px 0;
        color: #6ed4ff;
        // background: rgba(180, 180, 180, 0.4);
      }

      p {
        display: flex;
        align-items: center;
        width: 70%;
        min-width: 270px;
        height: 300px;
        margin: 0;
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }
  }
}

.var1 {
  background: center / cover no-repeat
    url('../../src/assets/about_us/material.jpg');
}
.var2 {
  background: center / cover no-repeat
    url('../../src/assets/about_us/strength.jpg');
}
.var3 {
  background: center / cover no-repeat
    url('../../src/assets/about_us/cooling-tower.jpg');
}
.var4 {
  background: center / cover no-repeat
    url('../../src/assets/about_us/temperature.jpg');
}
.var5 {
  background: center / cover no-repeat
    url('../../src/assets/about_us/environmental-friendliness.jpg');
}
.var6 {
  background: center / cover no-repeat
    url('../../src/assets/about_us/security.jpg');
}
