@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  margin: 0;
  padding: 30px 0;

  .container__descr {
    width: 90%;
    margin: 0 auto;

    @include media-max-width(700px) {
      width: 100%;
    }

    .img_descr {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: 0 auto;

      @include media-max-width(700px) {
        flex-direction: column;
      }

      img {
        height: 200px;
        max-width: 300px;
        margin: 20px;
      }

      .mini-descr {
        width: 45%;
        font-size: 22px;
        font-weight: bold;
        text-align: center;

        @include media-max-width(700px) {
          width: 90%;
          font-size: 18px;
        }
      }
    }

    .description {
      padding: 30px;
      font-size: 18px;
      width: 80%;
      margin: 0 auto;
      line-height: 30px;

      @include media-max-width(860px) {
        width: 100%;
      }
      @include media-max-width(700px) {
        padding: 0;
        font-size: 16px;
      }

      ul {
        margin: 20px auto;
        width: 40%;
        text-align: center;

        @include media-max-width(450px) {
          width: 90%;
          padding: 0 0 0 40px;
          margin: 20px 0 20px 10px;
        }

        p {
          margin: 15px 0 8px 0;
        }

        li {
          text-align: start;
          margin: 5px 0;
        }
      }

      p {
        @include media-max-width(700px) {
          width: 90%;
          margin: 0 auto;
        }
      }

      .italic {
        font-style: italic;
      }
    }

    .table {
      width: 90%;
      margin: 20px auto;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-align: center;
      line-height: normal;

      @include media-max-width(860px) {
        width: 100%;
        font-size: 16px;
      }

      @include media-max-width(700px) {
        font-size: 12px;
      }

      .hide_mobile {
        display: block;
        @include media-max-width(400px) {
          display: none;
        }
      }

      .show-mobile {
        display: none;
        @include media-max-width(400px) {
          display: block;
        }
      }

      .title {
        font-size: 22px;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px auto;

        @include media-max-width(700px) {
          font-size: 13.5px;
        }
      }

      img {
        width: 100px;

        @include media-max-width(700px) {
          width: 50px;
        }
      }

      .orange {
        background: #00a0e3;;
        color: #1c2752;
      }

      .violet {
        background: #1c2752;
      }
    }
  }
}
