@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include media-max-width(900px) {
    flex-direction: column;
  }

  .contact-form-title {
    display: flex;
    align-items: center;
    background: #cccc;
    padding: 5px 10px;

    @include media-max-width(900px) {
      margin-top: 30px;
    }

    img {
      margin-right: 10px;
    }
  }

  .customers-says {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: #1c2752;
    margin-top: 22px;
  }

  .contact-form-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;

    @include media-max-width(900px) {
      justify-content: space-between;
      margin-top: 0px;

      width: 100%;
    }

    .rewievs {
      margin-top: 42px;
      border: 1px solid black;
      padding: 20px 20px;
      width: 100%;

      animation: reviews-animation 1.5s backwards ease-in-out;

      @keyframes reviews-animation {
        0% {
          opacity: 0.1;
        }
        50% {
          opacity: 1;
        }
      }

      @include media-max-width(1300px) {
        width: 70%;
      }

      @include media-max-width(900px) {
        width: 100%;
      }

      .people {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 70px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .info {
          display: flex;
          flex-direction: column;
          flex: 1;

          .quotes {
            flex: 3;
          }
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background: rgba(#000000, 0.5);
        margin-top: 15px;
      }

      .text-slide {
        display: block;
        margin-top: 20px;
        font-family: "Inter";
        font-style: italic;
        font-weight: 700;
        font-size: 18px;
        color: #7e7e7e;
      }

      .change-slide {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 30%;

        @include media-max-width(1300px) {
          width: 50%;
        }

        .prev {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: 0.5s ease;
          &:active {
            box-shadow: 0 0 10px 2px rgba(14, 13, 13, 0.3);
            transform: translateX(-10px);
          }
        }

        .next {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: 0.5s ease;
          &:active {
            box-shadow: 0 0 10px 2px rgba(14, 13, 13, 0.3);
            transform: translateX(10px);
          }
        }
      }
    }

    .contact {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      background: #00a0e3;
      width: 100%;
      padding: 40px 40px;
      margin-top: 50px;

      @include media-max-width(1300px) {
        width: 70%;
      }

      @include media-max-width(900px) {
        width: 100%;
      }

      .contact-title {
        display: flex;
        align-items: center;
        background: #f4f4f4;
        padding: 0 10px;

        img {
          margin-right: 10px;
        }
      }

      .contact-subtitle {
        margin-top: 21px;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #1c2752;
      }

      .contact-text {
        margin-top: 13px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #1c2752;
      }

      a {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: #ffff;
        outline: none;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        img {
          animation: animate-call 2s infinite;
        }

        &:visited {
          color: #ffff;
        }

        span {
          margin-left: 20px;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          color: #ffffff;

          @include media-max-width(550px) {
            font-size: 20px;
          }

          @include media-max-width(450px) {
            font-size: 15px;
          }
        }

        @keyframes animate-call {
          0% {
            transform: scale(0.7);

            opacity: 0.7;
          }
          50% {
            transform: scale(0.8);

            opacity: 0.9;
          }
          100% {
            transform: scale(1) rotate(360deg);

            opacity: 1;
          }
        }
      }
    }
  }

  .msg-for-user {
    display: none;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: rgb(28, 6, 118);
    width: 70%;
    height: 200px;
    color: white;
    font-size: 20px;

    position: fixed;
    left: 50%;
    top: 20%;
    opacity: 1;
    transform: translate(-50%, 50%);
  }

  .loader {
    display: none;
    position: fixed;
    width: 250px;
    left: 50%;
    top: 20%;

    border-radius: 90%;
    transform: translate(-50%, 50%);
    background: rgba(14, 13, 13, 0.5);
  }

  .contact-form-right {
    margin-top: 100px;
    width: 35%;

    @include media-max-width(1300px) {
      width: 45%;
      margin-top: 20px;
    }

    @include media-max-width(900px) {
      width: 70%;
      margin-top: 50px;
    }

    @include media-max-width(700px) {
      width: 100%;
    }

    .project-title {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      background: #cccc;

      img {
        margin-right: 10px;
      }
    }

    .form-title {
      display: block;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      color: #1c2752;
      margin-top: 22px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      background: rgba(#cccccc, 0.5);
      padding: 50px 25px;

      input {
        margin-top: 25px;
        font-family: inherit;
        height: 35px;
        width: 100%;
        border: 1px solid #7e7e7e;
        transition: 0.3s ease-in;

        &::placeholder {
          color: rgb(10, 10, 10);
          padding: 10px;
          opacity: 0.7;
        }

        &:focus {
          color: #212529;
          background-color: #fff;
          border-color: #bdbdbd;
          outline: 0;
          box-shadow: 0 0 10px 2px rgba(14, 13, 13, 0.5);
        }
      }

      textarea {
        width: 100%;
        height: 200px;
        margin-top: 50px;
        resize: none;
        border: 1px solid #7e7e7e;
      }

      button {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        
        width: 100%;
        background: #00a0e3;
        margin-top: 30px;
        cursor: pointer;
        border: none;
        padding: 10px 10px;

        background-image: linear-gradient(transparent 50%, rgb(28, 6, 118) 50%);
        background-size: 200% 200%;
        background-repeat: no-repeat;
        transition: 0.5s;

        &:hover {
          background-position: 0 100%;
          color: white;
        }
      }
    }
  }
}
