@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.experience {
  // margin-top: 140px;
  // margin-bottom: 140px;
  display: flex;
  width: 80%;
  margin: 140px auto;
  align-items: center;
  justify-content: space-between;

  @include media-max-width(1000px) {
    width: 100%;
    margin: 40px auto;
  }

  .left-side-experience {
    width: 45%;
    background-image: url("../assets/experience-image.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    background-position: center center;
    background-size: cover;
    padding-bottom: 65%;

    @include media-max-width(1600px) {
      width: 35%;
    }

    @include media-max-width(1300px) {
      width: 25%;
    }

    @include media-max-width(1000px) {
      display: none;
    }
  }

  .right-side-experience {
    width: 40%;

    @include media-max-width(1600px) {
      width: 60%;
    }

    @include media-max-width(1300px) {
      width: 70%;
    }

    @include media-max-width(1000px) {
      background-image: url("../assets/experience-image.jpg");
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
      background-position: center center;
      background-size: cover;
      padding: 10px 10px;
      width: 100%;
    }

    @include media-max-width(600px) {
      text-align: center;
    }

    .greetings {
      display: flex;
      align-items: center;
      width: 250px;
      padding: 0 10px;
      background: rgba(152, 151, 151, 0.502);
      margin-bottom: 20px;
      
      @include media-max-width(1000px) {
        color: white;
      }

      img {
        margin-right: 10px;
      }
    }

    .title {
      color: #1c2752;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 58px;
      margin-bottom: 15px;

      @include media-max-width(1000px) {
        color: white;
      }
    }

    .text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.36px;

      @include media-max-width(1000px) {
        color: white;
      }
    }
  }

  .reasons-years {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    @include media-max-width(700px) {
      flex-direction: column;
    }

    .years-experience {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 20px 30px;
      background: rgba(rgb(201, 196, 196), 0.2);

      .years {
        font-size: 80px;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        color: #ffb342;
      }
      .years-experience__subscription {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.36px;
        color: #1c2752;
        text-align: center;

        @include media-max-width(1000px) {
          color: white;
        }
      }
    }

    .reasons-why-us {
      display: flex;
      flex-direction: column;

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        margin-top: 10px;

        @include media-max-width(1400px) {
          margin-left: 30px;
        }

        @include media-max-width(1000px) {
          color: white;
        }
      }
    }
  }
}
