$colors: (
  main: #ffb342,
  secondary: #1c2752,
);

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.main-footer {
  background: #1c2752;

  .main-footer__all-info .container {
    // display: flex;
    // flex-direction: column;
    display: block;
  }

  // -----ВЕРХНИЙ--БЛОК--------------------------------------------------------------

  .main-footer__top-block {
    width: 100%;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;

    @include media-max-width(1152px) {
      flex-direction: wrap;
    }
    @include media-max-width(1000px) {
      flex-direction: wrap;
    }
  }

  .logo {
    width: 15%;

    @include media-max-width(1152px) {
      flex-direction: wrap;
      width: 25%;
      margin: 10px 0px 20px 0px;
    }
    @include media-max-width(725px) {
      margin: 0px 5px 0px 5px;
    }
  }

  .rectangle-top {
    align-items: center;
    width: 100%;
    border: solid 0.5px #4b557d;
    opacity: 0.9;
    margin: 30px 0px 20px 0px;
    @include media-max-width(725px) {
      margin: 0px 0px 10px 0px;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .mail {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 30px;

      .mail-info {
        margin: 0 10px;
        color: white;
        @include media-max-width(725px) {
          display: none;
        }
      }

      .mail-logo {
        transition: 0.5s ease-in;
        margin-right: 5px;
        height: 68px;
        cursor: pointer;
        @include media-max-width(1000px) {
          margin: 0px 0px 10px 0px;
        }

        &:hover {
          transform: rotateX(360deg);
        }
      }
      @include media-max-width(1000px) {
        flex-direction: column;
      }
    }

    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 30px;

      .phone-info {
        margin: 0px 10px;
        color: white;
        @include media-max-width(725px) {
          display: none;
        }
      }

      .phone-logo {
        transition: 0.5s ease-in;
        margin-right: 5px;
        height: 68px;
        cursor: pointer;
        @include media-max-width(1000px) {
          margin: 0px 0px 10px 0px;
        }

        &:hover {
          transform: rotateZ(360deg);
        }
      }
      @include media-max-width(1000px) {
        flex-direction: column;
      }
    }

    .location {
      display: flex;
      flex-direction: row;
      align-items: center;

      .location-info {
        margin: 0px 10px;
        color: white;
        @include media-max-width(725px) {
          display: none;
        }
      }

      .location-logo {
        transition: 0.5s ease-in;
        margin-right: 5px;
        height: 68px;
        cursor: pointer;
        @include media-max-width(1000px) {
          margin: 0px 0px 10px 0px;
        }

        &:hover {
          transform: rotateX(360deg);
        }
      }
      @include media-max-width(1000px) {
        flex-direction: column;
      }
    }
    @include media-max-width(1000px) {
      display: flex;
      align-items: flex-start;
      // margin: 10px 0px 0px 0px;
    }
  }

  // -----НИЖНИЙ--БЛОК--------------------------------------------------------------

  .main-footer__bottom-block {
    display: flex;
    flex-direction: column;
  }

  .main-footer__bottom-block--all {
    display: flex;
    flex-direction: row;

    @include media-max-width(1000px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .main-footer__left-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-footer__text {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 10%;
      margin-bottom: 20px;

      @include media-max-width(1000px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .main-footer__social {
      display: flex;
      margin: 5px 0;

      .instagram {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
        }

        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #e46841;
        }
      }

      .facebook {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          color: #ffb342;
        }
        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #3b5998;
        }
      }

      .twitter {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          color: #ffb342;
        }

        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #09a6e5;
        }
      }

      .pinterest {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          color: #ffb342;
        }
        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #de0421;
        }
      }
    }
    @include media-max-width(1000px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .main-footer__shared-bloc {
    display: flex;
    width: 90%;
    // margin: 0px 0px 0px 80px;
    flex-direction: column;
    justify-content: center;

    .main-footer__links-bloc {
      display: flex;
      align-items: center;
      // width: 50%;
      justify-content: flex-end;

      @include media-max-width(1000px) {
        flex-direction: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }

    .main-footer__classification-links {
      text-align: left;
      margin-right: 3rem;
    }

    ul {
      padding: 0;
    }

    .main-footer__classification-links h3 {
      font-weight: 600;
      font-size: 1.5rem;
      color: #ffb342;
      text-align: left;
      transition: 0.5s;

      &:hover,
      &:active {
        color: #ffffff;
      }
    }

    .main-footer__links {
      list-style: none;
      cursor: pointer;
    }

    .main-footer__link {
      margin: 14px 0;
      transition: 0.3s;

      &:hover,
      &:active {
        transform: scale(1.2);
        color: #ffb342;
      }
    }

    .main-footer__link a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 500;
      font-size: 1rem;
      cursor: pointer;

      &:hover,
      &:active {
        color: #ffb342;
      }
    }
  }

  .rectangle-bottom {
    align-items: center;
    width: 100%;
    border: solid 0.5px #4b557d;
    opacity: 0.9;
    margin-bottom: 80px;
  }
}
