$colors: (
  main: #ffb342,
  secondary: #1c2752,
);

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.main-footer {
  margin: 100px 0px 0px 0px;
  background: #1c2752;

  .main-footer__all-info .container {

    display: block;
  }

  // -----ВЕРХНИЙ--БЛОК--------------------------------------------------------------

  .main-footer__top-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;

    @include media-max-width(1000px) {
      display: flex;
      flex-direction: column;
    }
    @include media-max-width(725px) {
      display: flex;
      flex-direction: wrap;
    }
  }

  .logo {
    display: flex;
    width: 15%;
    margin: 0px 10px 0px 0px;
    @include media-max-width(1175px) {
      display: flex;
      width: 30%;
    }
    @include media-max-width(1010px) {
      display: flex;
      width: 35%;
    }
    @include media-max-width(550px) {
      width: 55%;
      margin: 0px 0px 15px 0px;
    }
  }

  .rectangle-top {
    align-items: center;
    width: 100%;
    border: solid 0.5px #4b557d;
    opacity: 0.9;
    margin: 15px 0px 20px 0px;
    @include media-max-width(725px) {
      margin: 0px 0px 10px 0px;
    }
  }
  .info-all {
    display: flex;
    justify-content: space-around;
    flex-direction: wrap;
    @include media-max-width(1010px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    @include media-max-width(550px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    @include media-max-width(1010px) {
      display: flex;
      flex-direction: column;
    }
    @include media-max-width(725px) {
      display: flex;
      flex-direction: column;
    }

    .mail {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px 10px 0px 0px;
      

      .mail-info {
        margin: 0 10px;
        color: white;
      }

      .mail-logo {
        transition: 0.5s ease-in;
        margin-right: 5px;
        height: 80px;
        cursor: pointer;
        @include media-max-width(1024px) {
          cursor: none;
        }
        @include media-max-width(1000px) {
          margin: 0px 0px 10px 0px;
        }

        &:hover {
          transform: rotateX(360deg);
        }
      }
      @include media-max-width(1175px) {
        display: flex;
        flex-direction: column;
      }
      @include media-max-width(1010px) {
        display: flex;
        margin: 0px 0px 10px 0px;
        flex-direction: row;
      }

      a {
        display: flex;
        align-items: center;
        // margin-top: 0px;
        color: #ffff;
        outline: none;
        text-decoration: none;
        // transition: 0.3s ease-in-out;

        img {
          animation: wiggle 1.5s infinite;
        }

        &:visited {
          color: #ffff;
        }

        span {
          margin-left: 20px;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          color: #ffffff;
        }

        @keyframes wiggle {
          0% {
            transform: rotateZ(0);
          }
          50% {
            transform: rotateZ(-10deg);
          }
          100% {
            transform: rotateZ(10deg);
          }
        }
      }
    }

    .phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px 10px 0px 0px;

      .phone-info {
        margin: 0px 10px;
        color: white;
      }

      .phone-logo {
        transition: 0.5s ease-in;
        margin-right: 5px;
        height: 80px;
        cursor: pointer;
        @include media-max-width(1024px) {
          cursor: none;
        }
        @include media-max-width(1000px) {
          margin: 0px 0px 10px 0px;
        }

        &:hover {
          transform: rotateZ(360deg);
        }
      }
      @include media-max-width(1175px) {
        display: flex;
        flex-direction: column;
      }
      @include media-max-width(1010px) {
        display: flex;
        margin: 0px 0px 10px 0px;
        flex-direction: row;
      }

      a {
        display: flex;
        align-items: center;
        // margin-top: 20px;
        color: #ffff;
        outline: none;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        img {
          animation: animate-call 2s infinite;
        }

        &:visited {
          color: #ffff;
        }

        span {
          margin-left: 20px;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          color: #ffffff;
        }

        @keyframes animate-call {
          0% {
            transform: scale(0.7);

            opacity: 0.7;
          }
          50% {
            transform: scale(0.8);

            opacity: 0.9;
          }
          100% {
            transform: scale(1) rotate(360deg);

            opacity: 1;
          }
        }
      }
    }

    .location {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px 30px 0px 0px;

      .location-info {
        margin: 0px 10px;
        color: white;
      }

      .location-logo {
        transition: 0.5s ease-in;
        margin-right: 5px;
        height: 80px;
        cursor: pointer;
        @include media-max-width(1024px) {
          cursor: none;
        }
        @include media-max-width(1000px) {
          margin: 0px 0px 10px 0px;
        }

        &:hover {
          transform: rotateX(360deg);
        }
      }
      @include media-max-width(1175px) {
        display: flex;
        flex-direction: column;
      }
      @include media-max-width(1010px) {
        display: flex;
        flex-direction: row;
      }
    }
    @include media-max-width(1000px) {
      display: flex;
      align-items: flex-start;
    }

    a {
      display: flex;
      align-items: center;
      // margin-top: 0px;
      color: #ffff;
      outline: none;
      text-decoration: none;
      // transition: 0.3s ease-in-out;

      img {
        animation: wiggle 1.5s infinite;
      }

      &:visited {
        color: #ffff;
      }

      span {
        margin-left: 20px;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        color: #ffffff;
      }

      @keyframes wiggle {
        0% {
          transform: rotateZ(0);
        }
        50% {
          transform: rotateZ(-10deg);
        }
        100% {
          transform: rotateZ(10deg);
        }
      }
    }
  }

  // -----НИЖНИЙ--БЛОК--------------------------------------------------------------

  .main-footer__bottom-block {
    display: flex;
    flex-direction: column;
  }

  .main-footer__bottom-block--all {
    display: flex;
    flex-direction: row;

    @include media-max-width(1000px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .main-footer__left-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-footer__text {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 10%;
      margin-bottom: 20px;

      @include media-max-width(1000px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      @include media-max-width(725px) {
        width: 135%;
      }
      @include media-max-width(545px) {
        width: 100%;
      }
    }

    .main-footer__social {
      display: flex;
      margin: 5px 0px 20px 0px;

      .instagram {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          @include media-max-width(1024px) {
            cursor: none;
          }
        }

        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #249cd6;
        }
      }

      .facebook {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          color: #ffb342;
        }
        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #775097;
        }
        @include media-max-width(1024px) {
          cursor: none;
        }
      }

      .twitter {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          color: #ffb342;
        }

        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #43c052;
        }
        @include media-max-width(1024px) {
          cursor: none;
        }
      }

      .pinterest {
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:active {
          transform: scale(1.2);
          color: #ffb342;
        }
        &:hover {
          letter-spacing: 0.25em;
          box-shadow: 0px 0px 15px 10px #de0421;
        }
        @include media-max-width(1024px) {
          cursor: none;
        }
      }
      @include media-max-width(545px) {
        margin: 0px 0px 30px 0px;
      }
    }
    @include media-max-width(1000px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include media-max-width(690px) {
      display: flex;
      justify-content: center;
      margin: 0 10px;
    }
  }

  .main-footer__shared-bloc {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;

    .main-footer__links-bloc {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      @include media-max-width(1000px) {
        flex-direction: wrap;
        justify-content: center;
        align-items: center;
      }
      @include media-max-width(690px) {
        display: flex;
        align-items: flex-start;
        flex-direction: wrap;
      }
      @include media-max-width(545px) {
        display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
      }
    }

    .main-footer__classification-links {
      text-align: left;
      margin-right: 45px;

      @include media-max-width(545px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    ul {
      padding: 0;
    }

    .main-footer__classification-links h3 {
      margin: 0 auto;
      font-weight: 600;
      font-size: 1.5rem;
      color: #ffb342;
      text-align: left;
      transition: 0.5s;

      &:hover,
      &:active {
        color: #ffffff;
      }
    }

    .main-footer__links {
      list-style: none;
      cursor: pointer;
    }

    .main-footer__link {
      margin: 14px 0;
      transition: 0.3s;

      &:hover,
      &:active {
        transform: scale(1.2);
        color: #ffb342;
      }
    }

    .main-footer__link a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 500;
      font-size: 1rem;
      cursor: pointer;

      &:hover,
      &:active {
        color: #ffb342;
      }
      @include media-max-width(1024px) {
        cursor: none;
      }
    }
  }

  .rectangle-bottom {
    align-items: center;
    width: 100%;
    border: solid 0.5px #4b557d;
    opacity: 0.9;
    margin-bottom: 80px;
  }
}
