@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.projects {
  background: #00a0e3;
  display: flex;
  align-items: center;
  flex-direction: column;

  .project-subtitle {
    margin-top: 22px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: #ffffff;

    @include media-max-width(500px) {
      text-align: center;
    }
  }

  .project-title {
    margin-top: 140px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #1c2752;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background: #f4f4f4;

    img {
      margin-right: 10px;
    }
  }

  .project-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 50px;

    @include media-max-width(800px) {
      margin: 70px 40px;
    }

    .project-gallery-card {
      width: 25%;
      min-width: 330px;
      max-width: 500px;
      margin: 10px 10px;
      text-align: center;
      background: #ffffff;
      padding: 10px 10px 0px 10px;
      height: 420px;

      img {
        height: 230px;
        width: 100%;
      }

      animation: gallery-animation 1.5s backwards ease-in-out;

      @keyframes gallery-animation {
        0% {
          opacity: 0.1;
        }
        50% {
          opacity: 1;
        }
      }

      @include media-max-width(1600px) {
        width: 30%;
      }

      .card-title {
        color: #1c2752;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        margin: 47px auto 0 auto;
        width: 300px;
      }
    }
  }

  .gallery__slider-wrapper {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: -40px;
    padding-bottom: 40px;

    @include media-max-width(800px) {
      display: flex;
    }

    .prev-gallery {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &:active {
        box-shadow: 0 0 10px 2px rgba(14, 13, 13, 0.3);
        transform: translateX(-10px);
      }
    }

    .next-gallery {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &:active {
        box-shadow: 0 0 10px 2px rgba(14, 13, 13, 0.3);
        transform: translateX(10px);
      }
    }

    .gallery__slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 150px;

      .gallery__slider-item {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #ddd;
        border-radius: 50%;
        transition: background-color 0.6s ease;

        &:hover {
          background-color: #ffb342;
        }
      }
    }
  }
}

.active {
  background-color: #ffb342 !important;
}
