@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.reasons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include media-max-width(1300px) {
    background: url("../assets/reason-left-side.svg");
    background-position: center center;
    background-size: cover;
  }

  .reasons-left-side {
    position: relative;

    @include media-max-width(1300px) {
      img {
        display: none;
      }
    }

    .reasons-portfolio {
      background: rgba(#1c2752, 0.8);
      position: absolute;
      left: calc(100%-80%);
      top: 20%;
      width: 60%;
      padding: 60px 80px;

      @include media-max-width(1300px) {
       display: none;

      }

      .paragraph {
        display: flex;
        align-items: center;

        width: 100%;
        border: solid #ffff 1px;
        margin-bottom: 30px;

        .paragraph-left {
          padding: 10px 10px;
          background: #ffb342;
          color: black;
          font-weight: bolder;
        }

        .paragraph-right {
          padding: 10px 10px;
          color: white;
        }
      }
    }
  }

  .reasons-right-side {
    margin-top: 93px;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include media-max-width(1300px) {
      width: 100%;
      margin-top: 0px;
      padding: 5px 5px;
      color: white;
      align-items: center;
      background: rgba(#000000, 0.5);
    }

    .why-us {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0px;
      background: #dfdedc;
      padding: 0 20px;

      img {
        margin-right: 10px;
      }

      @include media-max-width(1300px) {
        background: rgb(33, 31, 31);
        padding: 10px 20px;
      }
    }

    .title-service {
      margin-top: 23px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      color: #1c2752;

      @include media-max-width(1300px) {
        color: white;
      }

      @include media-max-width(600px) {
        text-align: center;
      }
    }

    .reason-text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      margin: 40px 11px;
      color: #7e7e7e;

      @include media-max-width(1300px) {
        color: white;
      }

      @include media-max-width(600px) {
        text-align: center;
      }
    }

    .reason {
      margin-bottom: 40px;
      width: 80%;
      .title-reason {
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }

      span {
        display: block;
        margin-left: 40px;
      }
    }
  }
}
