@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

.reasons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include media-max-width(1300px) {
    background: url("../assets/reason-left-side.jpg");
    background-position: center center;
    background-size: cover;
  }

  .reasons-left-side {
    background-image: url("../assets/reason-left-side.jpg");
    background-position: 50%;
    background-size: cover;
    width: 50%;
    padding-bottom: 54%;

    @include media-max-width(1300px) {
      img {
        display: none;
      }

      width: 0%;
      padding-bottom: 0%;
    }
  }

  .reasons-right-side {
    margin-top: 93px;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include media-max-width(1300px) {
      width: 100%;
      margin-top: 0px;
      padding: 5px 5px;
      color: white;
      align-items: center;
      background: rgba(#000000, 0.6);
    }

    .why-us {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0px;
      background: #dfdedc;
      padding: 5px 20px;

      img {
        margin-right: 10px;
      }

      @include media-max-width(1300px) {
        background: rgb(33, 31, 31);
        padding: 5px 20px;
      }
    }

    .title-service {
      margin-top: 23px;
      margin-bottom: 23px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      color: #1c2752;

      @include media-max-width(1300px) {
        color: white;
      }

      @include media-max-width(600px) {
        text-align: center;
      }
    }

    .reason {
      margin-bottom: 40px;
      margin-top: 30px; 
      width: 80%;
      .title-reason {
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
      }

      span {
        display: block;
        margin-left: 40px;
      }
    }
  }
}
