include /public/pug/shared/_header
+header('Поліпропіленове завантаження 2Н ТКР', 'ПОЛІПРОПІЛЕНОВЕ ЗАВАНТАЖЕННЯ 2Н ТКР')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/water-purification-and-treatment/1.png',
    'Завантаження 2Н ТКР із профілей пресованого поліпропілену для реакторів з нерухомим слоєм із високою та низькою концентрацією')
    ul
        p Властивості:
        li найвищий термічний коефіцієнт корисної дії;
        li стійкий до високих температур;
        li висока механічна міцність;
        li висока хімічна стійкість та стійкість до УФ променів;
        li висока робоча надійність;
        li сприятливий до навколишнього середовища;
        li легко чиститься;
        li низьке енергоспоживання і утворення осаду;
        li високий рівень нітрифікації;
        li спаювання без використання клею гарантовано дає можливість використання завантаження в біофільтрах;
        li структура поверхні сприяє оптимальному відновленню біологічної плівки.
    table.table
            tbody
            tr
                td.title Технічні дані
                td.title ТКР-312
                td.title ТКР-319
                td.title ТКР-327 
            tr
                td
            tr.violet
                td Матеріал
                td поліпропилен (PP)
                td поліпропилен (PP)
                td поліпропилен (PP)
            tr.orange
                td Поверхня заміни
                td 240 м2/м3
                td 150 м2/м3
                td 125 м2/м3
            tr.violet
                td Висота профілю
                td 12 мм
                td 19 мм
                td 27 мм
            tr.orange
                td Вільний об’єм
                td 97 %
                td 97 %
                td 97 %
            tr.violet
                td  Доступні розміри:
                    br 
                    |Довжина
                    br 
                    |Ширина
                    br 
                    |Висота
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
            tr.orange
                td Щільність, г/см3
                td 1,05
                td 1,05
                td 1,05
            tr.violet 
                td Діапазон температур:
                td від -15 °С до +80 °С
                td від -15 °С до +80 °С
                td від -15 °С до +80 °С
    p
        br
        | Завантаження 2Н ТКР забезпечує очистку в зануреному нерухомому слої, в зрошувальних біофільтрах, біороторах, анаеробних реакторах, в резервуарах питної води, в барабанних фільтрах, в системах нітрифікації.
include /public/pug/shared/_mini-footer
