include /public/pug/shared/_header
+header('Ламельні тонкошарові модулі 2H TUBEdek для очистки питної води та стічних вод', 'ЛАМЕЛЬНІ ТОНКОШАРОВІ МОДУЛІ 2H TUBEdek ДЛЯ ОЧИСТКИ ПИТНОЇ ВОДИ ТА СТІЧНИХ ВОД')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/water-purification-and-treatment/6.png',
    '2H TUBEdek виготовляється з каналами різної форми, висоти і нахилу для забезпечення оптимального рішення')
    p
        br
        | 2H TUBEdek - це тонкошаровий сепаратор, який працює в протипотоковому режимі, тобто напрямок потоку в сепараторі від низу до верху, в той час як тверді речовини осідають в протилежному напрямку при зіткненні з площею седиментації.
        br
        | 2H TUBEdek складається із зібраних ламелей, які формуються в труби, як з паралельних пластин. В результаті виходять модулі, які забезпечують не тільки ламінарний потік, але і стабільну структуру. Оскільки модулі збираються з ламелей, то вони можуть бути адаптовані до будь-яких форм відстійників (навіть радіальних тенків). Нахил і висота сепаратора можуть бути оптимізовані під Вашу задачу.
        br
        | Стандартним матеріалом для 2H TUBEdek є жорсткий поліпропілен, який не містить пластифікаторів. Цей матеріал стійкий до більшості хімічних речовин, розчинних органічних речовин, гниття, дії бактерій та інших мікроорганізмів. 
    table.table
            tbody
            tr
                td.title(colspan="2") Тип
                td.title TUBEdek FS 41.50
                td.title TUBEdek FS 41.50
            tr
                td
            tr.violet
                td(colspan="2") Матеріал
                td поліпропилен (PP)
                td поліпропилен (PP)
            tr.orange
                td(rowspan="3") Поверхня седиментації, 
                                    br
                                    |м2/м3 
            tr.orange 
                td Кут 60 ° 
                td 11
                td  6,25
            tr.orange 
                td Кут 55 ° 
                td 13
                td 7
            tr.violet
                td(colspan="2") Відстань між профілями, мм
                td 45 (+/- 1)
                td 83 (+/- 1)
            tr.orange
                td(colspan="2") Стандартна довжина, мм
                td 1000
                td 1000/1500
    p
        br
        | Застосовується у реакторах з нерухомим слоєм високої концентрації (у зануреному вигляді і в зрошувальних біофільтрах), для очистки відпрацьованих газів двигуна в біологічних нейтралізаторах, для природних реакторів і пластин відділення осаду під час очистки стічних вод.
include /public/pug/shared/_mini-footer
