include /public/pug/shared/_header
+header('Завантаження 2H KLP-638', 'ЗАВАНТАЖЕННЯ 2H KLP-638')
include /public/pug/shared/_cards-descr
+description(
    '/src/assets/img_categories/water-purification-and-treatment/7.png',
    'Особливість 2H KLP-638 – це можливість пристосування завантаження до форми резервуара')
    ul
        p Властивості:
        li висока механічна витривалість;
        li легкість монтажу;
        li завантаження виконані з екологічно чистого матеріалу;
        li стійкі до хімічного і УФ впливу;
        li сертифіковані для питної води;
        li виконані з поліпропілену виключно високої міцності.
    ul
        p Застосування завантаження 2H KLP-638:
        li водоочищення питної води;
        li очищення побутових і промислових стоків;
        li сепарація рідини і твердого тіла.
    table.table
            tbody
            tr
                td.title(colspan="2") Технічні дані KLP-638
            tr
                td
            tr.violet
                td Матеріал
                td поліпропилен (PP)
            tr.orange
                td Поверхня седиментації
                td ~ 15 м2/м3
            tr.violet
                td Кут
                td 60 °
            tr.orange
                td Внутрішній діаметр каналу
                td ~ 45 мм
            tr.violet
                td  Доступні розміри:
                    br 
                    |Довжина
                    br 
                    |Ширина
                    br 
                    |Висота
                td
                    br
                    |2400 мм
                    br
                    |300 / 600 мм
                    br    
                    |300 / 600 мм
            tr.orange
                td Товщина листа (плівки)
                td до 1,5 мм
            tr.violet 
                td Максимальна 
                    br
                    | робоча температура
                td +80 °С
            tr.orange
                td Щільність
                td 1,0 -1,1 г/см3
include /public/pug/shared/_mini-footer
